
.nav-area {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #f0ffff;
    margin: 0% 5%;
    .left-container {
        display: flex;
        .logo-area {
            margin-right: 1%;

            img {
                width: 150px;
                height: 70px;
            }

            background-color: azure;
        }

      
    }
    .link-area{
        text-decoration: none;
    }
}
