.link-to-pokemonCard{
    text-decoration: none;
    color: black;
.pokemon-short-dscr {
    height: 20vh;
    width: 26vw;
    margin: 5px;
    background-color: #f0ffff;
    min-width: 240px;
    min-height: 180px;
    cursor: pointer;

    .pokemon-card {
        display: flex;
        position: relative;
        height: 100%;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        justify-content: space-between;

        .imgBox {
            max-width: 100px;

            .pokemonName {
                position: absolute;
                left: 10px;
            }

            .pokemon-img {
                // min-width: 160px;
                height: 100%;
                padding: 25px;
            }
        }

        .pokemon-desc {
            font-size: 12px;
            padding-top: 26px;
            font-weight: 600;
            position: relative;
            width: 100%;
            margin-left: 60px;
            div {
                color: black;
            }
        }

        .add-button-area {
            position: absolute;
            bottom: 5px;
            right: 7px;
            background: #ffd33e;
            border-radius: 30px;
            border: dashed 1px black;

            .add-button {
                width: 40px;
                height: 40px;
                font-size: 30px;
                border: none;
                background-color: unset;
                color: black;
            }
        }
    }
}
}

.link-to-pokemonCard:hover{
    color: black;
}

@media all and (max-width: 1000px) {
    .pokemon-short-dscr {
        .pokemon-card {
            .pokemon-desc {
                margin: 0;
                display: none;
            }
        }
    }
}
