.container-page {
    height: 100vh;
    background-color: #ffeded;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

@media screen and (max-width:400px) {
    .container-page {
    width: fit-content;}
}