.type-title{
position: relative;
margin: 20px auto;
border: black dashed 2px;
background-color: white;

}
.full-type-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.btn-area{
    position: relative;
    margin: 20px auto;
}